<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80876166-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-80876166-3');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Let's Pair Online</title>
    <link href="https://fonts.googleapis.com/css?family=Bellota+Text:300,400,700&display=swap" rel="stylesheet">
    <meta property="og:title" content="Remote Responsibilities Hackathon" />
    <meta property="og:site_name" content="https://letspair.online" />
    <meta property="og:description"
        content="A remote hackathon focused on building tools to help those that find themselves working, studying, and living remotely full time" />
    <meta property="og:image" content="/og-image.png" />

</head>

<body>
    <div id="root"></div>
</body>

</html>